<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Index Page</title>
</head>
<body>

	<div layout:fragment="content" class="container mySpace">

		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>firstname</th>
							<th>last name</th>
							<th>role</th>
							<td>address</td>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user:${users}">
							<td th:text="${user.firstName}"></td>
							<td th:text="${user.lastName}"></td>
							<td th:text="${user.role}"></td>
							<td th:text="${user.address}"></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>
</body>
</html>